@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body{
    background: "./img";
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #143F6B;
}


h2{
    font-family: 'Lobster Two', Verdana, Geneva, Tahoma, sans-serif;
    color: #F14E95;
    
}

a{
    font-family: 'Montserrat';
    font-weight: 700;
    color: #D1E4D1;
    text-decoration: none;
}

button{
    background-color: #363062;
    box-shadow: 3px;
}


